
minichallenge02/.DS_Store
minichallenge02/minichallenge02/.DS_Store
minichallenge02/minichallenge02/Assets.xcassets/.DS_Store
minichallenge02/.DS_Store
minichallenge02/minichallenge02.xcodeproj/project.xcworkspace/xcuserdata/juansuman.xcuserdatad/UserInterfaceState.xcuserstate
